<%- include('partials/header.ejs') %>

<main>
  <section class="hero">
      <!-- ... Hero content ... -->
  </section>

  <section class="featured-products">
      <h2>Featured Products</h2>  
      <div class="product-row">
        <%products.forEach((product) => {%>
          <div class="product">
              <img src= "<%= product.image[0]%>" alt="Product 1" width="100">
              <h3><%= product.type %> <%= product.name %></h3>
              <p class="fifty-chars"><%= product.description %></p>
              <span class="price">$<%= product.price %></span>
              <button class="btn-add-to-cart">Add to Cart</button>
              <a class="btn-view-details" href="product/<%= product._id %>">View Details</a>
          </div>
          <% }) %>
          <div><a href="/add-product" class="btn-add-product">Add a Product</a></div>
          <!-- Add more featured products here -->
      </div>
  </section>
</main>

<%- include('partials/footer.ejs') %>
